* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anek Bangla', sans-serif;
}

:root {
    --text-primary: #1D1D1D;
    --text-secondary: #1B98E0;
}

/* font-family: 'Almarai', sans-serif; */

section {
    background-color: #ECECEC;
}

nav {
    padding-left: 80px;
    padding-right: 80px;
    background-color: #ECECEC;
}

.navbar-margin {
    margin-left: 150px;
}


.button-primary {
    display: flex;
    padding: 4px 32px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    background: #4AB273;
    color: #fff;
}

.button-primary:hover {
    background: #35965C;
}

.button-sec {
    display: flex;
    height: 58px;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex: 1 0 0;

    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(2px);
    color: #fff;
}

.button-sec:hover {
    border: 1px solid white;
}

.button {
    color: var(--Monochrome-0, #FFF);

    /* Button */
    font-family: Anek Bangla;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
}

.daftar {
    font-size: 18px;
    margin-left: 15px;
    margin-top: 5px;
    font-weight: 500;
    color: #000;
}

.btn-eksplor {
    padding: 12px 32px;
    border-radius: 100px;
    background: var(--primary-100, #4AB273);
    border: none;
    color: #fff;
    margin-top: 48px;
}

.btn-eksplor:hover {
    background: #35965C;
}


h1 {
    font-size: 64px;
    font-weight: 500;
    line-height: 110%;
}

h2 {
    color: var(--Monochrome-70, #707070);

    /* h2 */
    font-family: Anek Bangla;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    /* 52px */
}

h6 {
    color: #FFF;
    /* h6 */
    font-family: Anek Bangla;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.2px;
}

.text-reguler {
    color: var(--Monochrome-0, #FFF);
    /* Body Reguler */
    font-family: Almarai;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.text-body {
    color: var(--Monochrome-70, #707070);
    /* Body */
    font-family: Anek Bangla;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.caption {
    color: var(--Monochrome-70, #707070);
    /* Caption */
    font-family: Almarai;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    /* 23.4px */
}

/* Home  */

#home .container {
    padding-top: 175px;
}

#home .text {
    font-family: Almarai;
    font-size: 15px;
    font-weight: 300;
    line-height: 180%;
}

.gambar {
    padding-top: 80px;
}


/* quotes */
#quotes {
    padding-top: 63px;
}

.quote1 {
    display: flex;
    width: 503px;
    padding: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 48px;
    border-radius: 16px;
    background: var(--monochrome-100, #1D1D1D);
}

.quote1 h2 {
    color: var(--monochrome-0, #FFF);

    /* h2 */
    font-family: Anek Bangla;
    font-size: 40px;
    font-weight: 500;
    line-height: 130%;
    /* 52px */
}

.quote1 span {
    color: var(--monochrome-70, #707070);

    /* h2 */
    font-family: Anek Bangla;
    font-size: 40px;
    font-weight: 500;
    line-height: 130%;
}


.quote2 {
    width: 713px;
    height: 400px;
    flex-shrink: 0;
    background-image: url('../img/bg-quote2.png');
}

.quote2 h4 {
    color: var(--monochrome-0, #FFF);
    text-align: center;
    font-family: Anek Bangla;
    font-size: 32px;
    font-weight: 400;
    line-height: 140%;
    padding-top: 25px;
    padding-right: 102px;
    padding-left: 102px;
}

.quote2 img {
    padding-top: 24px;
    padding-right: 237px;
    padding-left: 237px;
}


/* Keindahan */
#keindahan {
    padding-top: 150px;
}

#keindahan .kotak {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;

    border-radius: 16px;
    background: var(--monochrome-10, #F8F8F8);
}

.keindahan2 {
    margin-top: 120px;
}

h5 {
    color: var(--monochrome-100, #1D1D1D);

    /* h5 */
    font-family: Anek Bangla;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 24px */
}

.title1 {
    color: var(--Monochrome-100, #1D1D1D);

    /* Title 1 */
    font-family: Anek Bangla;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 20px */
}

.title2 {
    color: var(--monochrome-100, #1D1D1D);

    /* Title 2 */
    font-family: Anek Bangla;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.18px;
}

.title3 {
    color: var(--Monochrome-100, #1D1D1D);
    font-family: Anek Bangla;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

h3 {
    color: #000;
    font-family: Anek Bangla;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.body-light {
    color: var(--Monochrome-100, #1D1D1D);
    font-family: Almarai;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
}


.card-keindahan {
    background-image: url('../img/keindahan1.png');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

#keindahan .card-title {
    padding-top: 270px;
    padding-left: 16px;
    color: #FFF;
    font-family: Anek Bangla;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.2px;
}

#keindahan .card-text {
    padding-left: 16px;
    color: var(--monochrome-0, #FFF);
    font-family: Almarai;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}


.text-over-image {
    position: absolute;
    bottom: -25px;
    left: 70px;
    transform: translate(-50%, -50%);
    color: white;
}

#keindahan h6 {
    margin-bottom: -5px;
}

#keindahan .col-keindahan {
    width: 292px;
    height: 409px;
}

.card-tags {
    padding: 2px 16px;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid var(--monochrome-0, #FFF);
    background-color: transparent;
    color: #fff;
    margin-top: -12px;
}


/* Forum */

#forum-home .forum-col {
    border-radius: 16px;
    background: var(--Monochrome-10, #F8F8F8);

    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

#forum .forum-col {
    border-radius: 16px;
    background: var(--Monochrome-10, #F8F8F8);
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#forum-home .image-container {
    position: relative;
    overflow: hidden;
}

#forum-home .text-over-forum {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
}

#forum-home h4 {
    margin-bottom: 20px;
}

.underline {
    text-decoration: none;
}

.underline:hover {
    text-decoration: underline;
}

#forum-home .berdiskusi {
    display: inline-block;
    /* Change to inline-block for better centering */
    padding: 12px 32px;
    border-radius: 32px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid transparent;
    backdrop-filter: blur(4px);
    color: white;
}

#forum-home .berdiskusi:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
}


#kebudayaan-home .text-over-image {
    position: absolute;
    bottom: -40px;
    left: 140px;
    transform: translate(-50%, -50%);
    color: white;
}

#kebudayaan-home .card-tags {
    padding: 2px 16px;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid var(--monochrome-0, #FFF);
    background-color: transparent;
    color: #fff;
}

#kebudayaan-home h6 {
    margin-bottom: -3px;
}

#kebudayaan-home p {
    margin-bottom: 7px;
}

/* tes-home */
#tes-home {
    padding-top: 100px;
    padding-bottom: 100px;
}

#tes-home .col-md-8 {
    display: flex;
    width: 818px;
    padding: 32px;
    flex-direction: column;
    align-items: flex-end;
    gap: 48px;

    border-radius: 16px;
    background: var(--Monochrome-10, #F8F8F8);
}

#tes-home .col-md-4 {
    display: flex;
    width: 397px;
    padding: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 70px;

    border-radius: 16px;
    background: var(--Monochrome-100, #1D1D1D);
}

#tes-home .d-flex {
    padding-left: -100px;
}

footer {
    background: var(--Monochrome-100, #1D1D1D);
    padding-bottom: 30px;
}

footer .text {
    color: var(--monochrome-20-base, #ECECEC);

    /* Body */
    font-family: Anek Bangla;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer .sub-title {
    color: var(--Monochrome-40, #C7C7C7);
    font-family: Almarai;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.129px;
}


@media screen and (max-width: 768px) {
    nav {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-margin {
        margin-left: 0;
    }

    #home .container {
        padding-top: 100px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 26px;
    }

    .title2 {
        font-size: 16px;
    }

    .btn-eksplor {
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .order1 {
        order: 1;
    }

    .order2 {
        order: 2;
    }

    .gambar img {
        width: 70%;
        margin-top: 10px;
    }

    #keberagaman {
        margin-top: -50px;
    }

    .quote1 {
        width: 100%;
        padding: 20px;
    }

    .quote1 h2 {
        font-size: 26px;
    }

    .quote1 span {
        font-size: 26px;
    }

    .quote2 {
        margin-top: 20px;
        width: 100%;
        padding: 20px;
    }

    .quote2 h4 {
        padding-top: 25px;
        padding-right: 0;
        padding-left: 0;
        font-size: 24px;
    }

    .quote2 img {
        padding-top: 24px;
        padding-right: 0;
        padding-left: 50px;
    }

    #keindahan {
        padding-top: 80px;
    }

    #keindahan .kotak {
        width: 80%;
        margin-left: 40px;
        margin-top: 15px;
    }

    #keindahan .card-title {
        margin-top: 20px;
    }

    .keindahan2 {
        margin-top: 40px;
        padding-left: 30px;
    }

    #kebudayaan-home {
        margin: 0;
    }

    #kebudayaan-home img {
        width: 95%;
    }

    #kebudayaan-home .text-over-image {
        bottom: -35px;
        left: 127px;
    }

    #tes-home .col-md-8 {
        width: 90%;
        margin-left: 20px;
    }

    #tes-home .col-md-4 {
        width: 90%;
        margin-left: 20px;
        margin-top: 15px;
    }

    #tes-home .d-flex {
        margin-top: -40px;
    }

    #tes-home .button-sec {
        font-size: 14px;
    }

    #tes-home img {
        display: none;
    }

    #forum-home .berdiskusi {
        padding: 10px;
    }

    #forum-home .text-over-forum {
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        text-align: center;
    }

    #forum-home h4 {
        margin-bottom: 20px;
        display: none;
    }

}


/* Diff page */
#header-eksplor {
    margin-top: 75px;
    background-image: url("../img/bg-eksplor.png");
    background-size: cover;
    background-position: center;
    color: white;
    /* Set text color to be visible against the background */
    padding: 20px;
    /* Add padding to make the text readable */
    text-align: center;
}

#header-kuis {
    background-image: url("../img/bg-kuis.png");
    background-size: cover;
    background-position: center;

    margin-top: 77px;
    height: 135px;
    padding-top: 45px;
    text-align: center;
}

#search .search-container {
    padding: 20px;
    border-bottom: 1px solid var(--Monochrome-40, #C7C7C7);
}


#search .col a {
    color: #999999;
    ;
    font-family: Almarai;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    text-decoration: none;
}

.active {
    color: #000;
    font-family: Almarai;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

#search .active {
    color: #000;
    font-family: Almarai;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-decoration: underline;
}

#search .col a:hover {
    color: #000;
    font-family: Almarai;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
}

.list-inline-item:hover {
    color: #000;
    font-family: Almarai;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
}

.search {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--Monochrome-30, #E2E2E2);
}

.search-input {
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    line-height: 20px;
    transition: width 0.4s linear
}

.search .search-input {
    padding: 0 10px;
    width: 100%;
    font-size: 19px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear;
}

.search-input::placeholder {
    color: var(--Monochrome-70, #707070);

    font-family: Almarai;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
}

.eksplor .simpan {
    position: absolute;
    left: 35px;
    top: 30px;
    transform: translate(-50%, -50%);
}

.eksplor .simpan svg {
    padding: 8px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.20);
}

.eksplor-konten {
    padding-bottom: 100px;
}

#myIcon.clicked {
    background: #4AB273;
}


.detail-eksplor {
    padding-top: 100px;
}

.kategori-forum {
    padding-top: 100px;
}


.container-detail-eksplor {
    padding-left: 315px;
    padding-right: 315px;
}



.custom-dropdown {
    width: 100%;
}

.custom-dropdown select {
    border: 1px solid #ced4da;
    padding: 8px;
    width: 100%;
    outline: none;
}

/* Forum */
#forum {
    padding-top: 40px;
    padding-bottom: 100px;
}

/* Forum */
#forum button {
    color: #fff;
    border: none;
}

#forum .unggahan {
    padding: 16px 24px;
    border-radius: 16px;
    /* border: 1px solid var(--Monochrome-40, #C7C7C7); */
    background: var(--Monochrome-10, #F8F8F8);
    margin-right: 25px;
}

.unggah {
    display: flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    width: 100%;
    border-radius: 100px;
    background: var(--Primary-100, #4AB273);
}

#forum .tagar-container {
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    border-radius: 16px;
    background: var(--Monochrome-15, #F2F2F2);
}

.tagar-terkini {
    padding: 8px;
    gap: 10px;
    border-radius: 30px;
    background: #C6F1D7;
    margin-right: 10px;
}

.balasan {
    margin-top: 24px;
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 16px;
    align-self: stretch;

    border-radius: 16px;
    background: var(--Monochrome-15, #F2F2F2);
}

.balasan input {
    display: flex;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    border-radius: 12px;
    background: var(--Monochrome-0, #FFF);
}

.list-inline-item {
    padding-right: 25px;
}

.balasan-lainnya {
    color: var(--Primary-200, #35965C);
    font-family: Almarai;
    padding-left: 16px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    /* 27px */
    text-decoration-line: underline;
    margin-top: 15px;
}

.unggahan1 {
    margin-top: -280px;
    padding: 16px 24px;
    border-radius: 16px;
    border: 1px solid var(--Monochrome-40, #C7C7C7);
    background: var(--Monochrome-10, #F8F8F8);
    margin-right: 25px;
}


/* Acara */
#acara {
    padding-bottom: 100px;
}

#acara .text-over-image {
    padding-left: 115px;
    bottom: -50px;
}

#acara .simpan {
    position: absolute;
    left: 35px;
    top: 30px;
    transform: translate(-50%, -50%);
}

#acara a {
    text-decoration: none;
}

.acara {
    padding-top: 100px;
}

a {
    text-decoration: none;
}

/* detail-acara */
#detail-acara {
    padding-top: 100px;
    padding-bottom: 100px;
}


/* Kuis */
#title-kuis .container {
    position: absolute;
    margin-top: -78px;
    margin-left: 100px;
    height: 160px;
    padding: 16px;
    gap: 16px;
    flex-shrink: 0;

    border-radius: 16px;
    background: var(--Monochrome-10, #F8F8F8);
}

#title-kuis .col-md-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
    height: 128px;

    border-radius: 12px;
    background: var(--Monochrome-15, #F2F2F2);
}

.kuis-konten {
    padding-top: 120px;
    padding-bottom: 100px;
}

.kuis-konten .col-md-4 {
    width: 399px;
    height: 282px;
    padding: 32px;

    border-radius: 16px;
    background: var(--Monochrome-15, #F2F2F2);
}

.kuis-konten .kebud1 {
    background-image: url("../img/kuis/kebud1.png");
}

.kuis-konten .kebud2 {
    background-image: url("../img/kuis/kebud2.png");
}

.kuis-konten .sentar {
    background-image: url("../img/kuis/sentar.png");
}

.btn-kuis-lihat {
    display: flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;

    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(2px);
    color: #fff;
}

.btn-kuis-coba-lagi {
    display: flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 100px;
    background: var(--Primary-100, #4AB273);
    color: #fff;
}

.btn-kuis-coba-lagi:hover {
    background-color: #35965C;
}

.btn-kuis-mulai {
    display: flex;
    padding: 12px 32px;
    align-items: center;
    gap: 6px;

    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: var(--Monochrome-40, #C7C7C7);
    backdrop-filter: blur(2px);
    color: #fff;
}

.btn-kuis-lihat:hover {
    border: 1px solid white;
}

@media screen and (max-width: 768px) {
    #title-kuis .container {
        position: absolute;
        margin-top: -78px;
        margin-left: 0;
        margin-right: 10px;
        height: 125px;
    }

    #title-kuis .col-md-3 {
        padding: 0;
        height: 80px;
    }

    .kuis-konten .col-md-4 {
        margin: 10px;
        width: 360px;
        height: 250px;
    }


    #title-kuis .text-body {
        font-size: 14px;
    }

    #title-kuis h5 {
        font-size: 16px;
    }

    #acara h6 {
        font-size: 18px;
    }

    #acara .col-md-4 {
        margin-bottom: 28px;
    }

    #detail-acara h2,
    h6 {
        text-align: center;
    }

    #header-eksplor {
        padding: 20px;
    }

    #header-kuis {
        padding: 20px;
    }

    h3 {
        font-size: 26px;
    }

    #search .col {
        text-align: center;
        padding: 10px;
        margin: 5px;
        border: 1px solid #ccc;
    }

    .list-inline-item {
        text-align: center;
        padding: 10px;
        margin: 5px;
        margin-right: 0;
        border: 1px solid #ccc;
    }

    .eksplor .col-md-3 {
        margin-top: 15px;
        padding-left: 50px;
    }

    .container-detail-eksplor {
        padding-left: 20px;
        padding-right: 20px;
    }

    .sketchfab-embed-wrapper {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .iframe-container {
        position: relative;
        width: 100%;
        padding-bottom: 54.87%;
    }

    .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .video-container {
        position: relative;
        overflow: hidden;
        padding-bottom: 56.25%;
        height: 0;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .lihat {
        margin-top: -40px;
    }

    .button {
        width: 100%;
        font-size: 15px;
    }

    #forum {
        padding-left: 10px;
        padding-right: 10px;
    }

    .body-light {
        font-size: 14px;
    }

    .unggahan1 {
        margin-top: 0;
    }

    .modal {
        margin-top: 200px;
    }

    nav ul li {
        padding-left: 10px;
    }

    .balasan input {
        padding: 4;
        flex-direction: column;
        align-items: stretch;
    }

    #detail-acara iframe {
        height: auto;
    }

    #detail-acara .gambar1 {
        display: none;
    }
}

.owl-carousel.varian-kedua .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}

.owl-carousel.varian-kedua .owl-prev {
    position: absolute;
    left: -10px;
    transform: translateY(-50%);
}

.owl-carousel.varian-kedua .owl-next {
    position: absolute;
    right: -10px;
    transform: translateY(-50%);
}

.profil {
    display: flex;
    padding-top: 100px;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
}



.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 1;
    transition: transform 0.3s ease-in-out;
}

.image-container:hover img {
    transform: scale(1.2);
}

#soal {
    padding-top: 110px;
    padding-bottom: 100px;

}

.kolom-atas {
    width: 100%;
    padding: 16px 24px;
    border-radius: 16px;
    border: 1px solid #FFF;
    background: var(--Monochrome-10, #F8F8F8);
}

.kolom-pertanyaan {
    margin-top: 16px;
    width: 100%;
    padding: 24px;
    gap: 16px;

    border-radius: 16px;
    border: 10px solid rgba(255, 255, 255, 0.05);
    background: var(--Monochrome-100, #1D1D1D);
}

.kolom-pertanyaan .col-md-6 {
    height: 100px;
    padding: 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;

    border-radius: 16px;
    border: 1px solid #FFF;
}

.kolom-pertanyaan .col-md-6:hover {
    background: #ffffff3b;
    cursor: pointer;
}

.kolom-pertanyaan .col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .owl-carousel.varian-kedua .owl-prev {
        position: absolute;
        left: 10px;
        transform: translateY(-50%);
    }
}



#login-register {
    background-image: url("../img/login-register/bg-login-register.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 10%;
    padding-bottom: 10%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

#login-register .row {
    margin-top: -50px;
}

#login-register .login {
    display: flex;

    padding: 32px;
    flex-direction: column;
    gap: 24px;
    border-radius: 16px;
    background: var(--Monochrome-10, #F8F8F8);
}

#login-register .login .text {
    color: var(--Black, #000);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#login-register .login input {
    margin-top: -15px;
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.20);
}

#login-register .login ::placeholder {
    color: var(--Gray, #6B6B6B);
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#login-register .login .masuk {
    display: flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;

    border-radius: 100px;
    background: var(--Primary-100, #4AB273);
    color: #fff;
}

#login-register .login span {
    color: var(--Primary-200, #35965C);
    font-family: Anek Bangla;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login-google {
    display: flex;
    height: 51px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.20);
}

.progress-container {
    height: 5px;
    /* Set fixed height */
    width: 100%;
    /* Set full width */
    background-color: #ccc;
    /* Background color for the container */
    border-radius: 16px;
}

.progress-bar {
    height: 100%;
    width: 0;
    border-radius: 16px;
    background-color: #35965C;
    /* Bar color */
    transition: width 30s linear;
    /* Animation transition */
}

.btn-soal {
    padding: 12px 32px;
    border-radius: 100px;
    background: #fff;
    border: none;
    color: #000;
}

.btn-soal:hover {
    background: #dddddd;
}

.btn-soal:disabled {
    background: #686868;
}


#footer a:hover {
    color: #4AB273;
}


@media screen and (max-width: 768px) {
    #login-register {
        padding-top: 20px;
        padding-bottom: 20px;
        height: 50vh;
        margin-bottom: 230px;
    }

    #login-register .row {
        margin-top: 0;
    }

    #login-register .login {
        margin-top: 50px;
    }

    .text-over-forum {
        top: 20%;
        left: 70%;
        width: 260px;
    }

    #forum-home p {
        font-size: 18px;
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 512px) {
    .img-hidden {
        visibility: hidden;
        position: absolute;
    }
}